@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Medium.ttf") format("truetype"),
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --item: #dde6ed;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #141516;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans" !important;
  /* text-align: right; */
  background-color: var(--dark);
  color: var(--dark);
  position: relative;
  transition: all 300ms ease-in-out;
}

.password-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a{
  color: unset;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: unset;
}

html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}